.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    transition: all 0.6s ease;
}

.link:hover {
    transform: scale(1.1);
    transition: all 0.6s ease;
}

.logout {
    border: none;
    padding: 3px;
    background-color: #2ecc71;
    cursor: pointer;
    border-radius: 3px;
}